@use "variables" as v;

.about {
  padding: 80px 50px;
  text-align: center;
  background-color: white;

  &__title {
    margin-bottom: 20px;
    font-size: 36px;
    color: v.$text-color;
  }

  &__text {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
  }
}